* {
  font-family: "raleway", sans-serif;
}

/* COMMON */

.main_width {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}
.row::after{
  content: '';
  display: block;
  clear: both;
}
.col {
  float: left;
}

/* HEADER */

header {
  background: #000;
  color: #fff;
  min-height: 40px;
  padding: 11px 0;
}
header h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
header span {
  color: #00e6b8;
  font-weight: bold;
}
header li {
  display: inline-block;
  text-transform: uppercase;
}
header nav.col {
  float: right;
}
header a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  margin:0 15px;
}

/* MAIN CONTENT */

section.main_content {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+13,d8d7c9+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 13%, rgba(216,215,201,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 13%,rgba(216,215,201,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 13%,rgba(216,215,201,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d7c9',GradientType=0 ); /* IE6-9 */
}

section.main_content .col {
  min-height: 500px;
}
section.main_content .extreme {
  position: relative;
  width: 5%;
}
section.main_content .inside_left {
  width: 38%;
  position: relative;
}
section.main_content .inside_right {
  position: relative;
  width: 52%;
  padding-top: 130px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 130px;
}
section.main_content .arrow {
  position: absolute;
  top: 240px;
  left: 7px;
  font-size: 75px;
  color: #00e6b8;
}
#black_chair {
  position: absolute;
  top: 65px;
  left: -100px;
  width: 600px;
}
section.main_content h1 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
section.main_content span {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #00e6b8;
}
section.main_content p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 40px;
  line-height: 22px;
}
section.main_content .button{
  font-size: 1.3rem;
  padding: 16px;
  position: absolute;
  width: 260px;
  height: 55px;
  background: #00e6b8;
  text-align: center;
  text-transform: uppercase;
  left: 125px;
  color: white;
  border-radius: 8px;
}
section.main_content .button a {
  color: white;
  text-decoration: none;
}
/* MAIN BOXES */

section.main_boxes {
  background: #fff;
  margin-bottom: 73px;
}
section.main_boxes .col {
  width: 33.33%;
  min-height: 280px;
  padding-top: 30px;
}
section.main_boxes .box_1 {
  position: relative;
}
section.main_boxes .inbox {
  position: absolute;
  top:150px;
  padding: 11px 15px;
  width: 100%;
  height: 60px;
  font-weight: 500;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.4+0,0.4+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */
}
section.main_boxes .bottom_line_short {
  background: #00e6b8;
  height: 7px;
  width: 41%;
}
section.main_boxes .box_2 {
  border: 1px solid lightgrey;
  min-height: 250px;
  padding: 27px 23px;
  line-height: 20px;
  font-size: 0.8rem;
}
section.main_boxes .box_2 :nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}
section.main_boxes .box_2 :nth-child(3) {
  margin-top: 17px;
  font-weight: 300;
}
section.main_boxes .box_2 :nth-child(4) {
  margin-top: 15px;
  font-weight: 300;
}
/* PRICE LIST */

section.price_list {
  //* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,ffffff+79 */
  background: rgb(234,234,234); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 79%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 79%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  min-height: 720px;
  padding-top: 10px;
  font-size: 1.4rem;
}
section.price_list p {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 30px;
  }

  section.price_list h3 {
  font-weight: 500;
  font-size: 1.5rem;

}
section.price_list .bottom_line_long {
  background: #00e6b8;
  height: 8px;
  width: 320px;
}

section.price_list .col_price {
  width: 33.33%;
  min-height: 580px;
  padding: 45px 0px;
  margin-top: 20px;
  float: left;
}
section.price_list .box_price_grey {
  padding-top: 35px;
  position: relative;
  border: 2px solid lightgrey;
  background: #fff;
  width: 330px;
  height: 500px;
  text-align: center;
}
section.price_list .box_price_green {
  padding-top: 35px;
  position: relative;
  border: 2px solid #00e6b8;
  background: #00e6b8;
  width: 330px;
  height: 500px;
  text-align: center;
}
section.price_list .circle_white {
  background: #fff;
  position: absolute;
  top:-40px;
  left: 135px;
  height: 60px;
  width: 60px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  padding-top: 13px;
}
section.price_list .circle_green {
  background: #fff;
  position: absolute;
  top:-40px;
  left: 135px;
  height: 60px;
  width: 60px;
  border: 2px solid #00e6b8;
  border-radius: 50%;
  padding: 13px;
}
section.price_list .circle_grey_small {
  background: lightgrey;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
section.price_list .circle_white_small {
  background: #00e6b8;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
section.price_list .col_price:nth-child(2n+1) {
  color: lightgrey;
  text-transform: uppercase;

}
section.price_list .col_price:nth-child(2) {
  color: #fff;
  text-transform: uppercase;
}
section.price_list .circle_white_big {
  background: #fff;
  margin: 30px auto;
  height: 130px;
  width: 130px;
  border: 2px solid lightgrey;
  border-radius: 50%;
}
section.price_list .price_1 {
    font-weight: 600;
    font-size: 2.2rem;
}
section.price_list .price_2 {
    font-weight: 600;
    font-size: 2.2rem;
    color: #00e6b8;
}
section.price_list .purchase_1 {
    padding: 8px 0;
    background: lightgrey;
    color: darkgrey;
    height: 40px;
    text-transform: none;
}
section.price_list .serwis_1 {
    background: #ebebe0;
    padding: 8px 0;
    color: darkgrey;
    height: 40px;
    text-transform: none;
}
section.price_list .serwis_2 {
    background: #fff;
    padding: 8px 0;
    color: darkgrey;
    height: 40px;
    text-transform: none;
}
section.price_list .purchase_2 {
    padding: 8px 0;
    background: #fff;
    color: darkgrey;
    height: 40px;
    text-transform: none;
}

/* CONTACT */

section.contact {
  background: #fff;
  min-height: 500px;
  padding-top: 10px;
}
section.contact .bottom_line_long {
  background: #00e6b8;
  height: 8px;
  width: 320px;
  margin-bottom: 40px;
}

.contact_title {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.contact_form label {
    display: none;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #A1E6D1;
    height: 65px;
    padding: 15px;
    width: 100%;
    margin-bottom: 28px;
    font-weight: 300;
    font-size: 24px;
}
.contact_form textarea {
    height: 195px;
    resize: none;
}
.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form textarea:focus {
    border-color: #38C3AD;
    box-shadow: inset 0 0 0 1px #38C3AD;
    outline: none;
}
.contact_col_left {
    width: 60%;
    float: left;
}
.contact_col_right {
    width: 40%;
    float: right;
}
.red_chair {
    padding: 0px 30px 0px 100px;
}
.contact_form .checkbox {
    padding-left: 70px;
    padding-top: 20px;
}
.contact_form .checkbox_icon  {
    width: 50px;
    height: 50px;
    border: 1px solid #A1E6D1;
    display: inline-block;
    background: url(../images/form_ok.jpg) center center no-repeat;
}
.contact_form .checkbox_text {
    display: inline-block;
    width: calc(100% - 70px);
    vertical-align: top;
    padding: 5px 0 0 5px;
    color: #AAA;
    font-size: 1.2rem;
}
.contact_form .submit_button {
    font-size: 26px;
    padding: 15px 30px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 70px;
    width: 80%; /* albo display block */
    color: white;
    text-decoration: none;
    background: #38C3AD;
    border: 1px solid #38C3AD;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
